.sidebar {
  background: $themeBlue;
  &-purple {
    background: $themePurple;
  }

  &-theme {
    background: $theme;
  }

  &-salmon {
    background: $themeSalmon;
  }

  &-blue {
    background: $themeBlue;
  }

  &-dark {
    background: $themeDark;
  }
}

.custom-button {
  &-purple {
    background: $themePurple;
    &:hover {
      background: $themePurpleDark;
    }
  }

  &-salmon {
    background: $themeSalmon;
    &:hover {
      background: $themeSalmonDark;
    }
  }

  &-theme {
    background: $theme;
    &:hover {
      background: $themeDarken;
    }
  }

  &-blue {
    background: $themeBlue;
    &:hover {
      background: $themeBlueDark;
    }
  }

  &-dark {
    background: $themeDark;
    &:hover {
      background: $themeDarkDark;
    }
  }
}

.background-gas {
  background-image: url('assets/image.jpg');
  background-size: cover;
  background-position: center;
}

.background-logo {
  background-image: url('assets/logo.png');
  width: 200px;
  font-size: 0;
  height: 200px;
  background-size: cover;
  background-position: center;
  &-small {
    width: 50px;
    height: 50px;
  }
}
