$dark: #383838;
$themePurple: #af8ccb;
$themePurpleDark: darken($themePurple, 10%);

$themeSalmon: #336c89;
$themeSalmonDark: darken($themeSalmon, 10%);

$themeBlue: #819fd6;
$themeBlueDark: darken($themeBlue, 10%);

$themeDark: #404040;
$themeDarkDark: darken($themeDark, 10%);

$light: #efefef;
$lightDarken: darken($light, 10%);

$theme: #336c89;
$themeDarken: darken($theme, 15%);
$themeActived: darken($theme, 8%);

$white: #fff;

$primary: #3276b5;
$danger: #c74949;
$success: #34b351;
